<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="task-form" novalidate>
    <h2 class="form-title">{{ 'LOGIN.TITLE' | translate }}</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'LOGIN.USERNAME_LABEL' | translate }}</mat-label>
      <input matInput formControlName="username" [placeholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate" />
    </mat-form-field>
    @if (form.controls.username.touched || loginAttempted()) {
    @if (form.controls.username.hasError('required')) {
    <mat-error>{{ 'LOGIN.USERNAME_REQUIRED' | translate }}</mat-error>
    }
    }

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'LOGIN.PASSWORD_LABEL' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate" />
    </mat-form-field>
    @if (form.controls.password.touched || loginAttempted()) {
    @if (form.controls.password.hasError('required')) {
    <mat-error>{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</mat-error>
    }
    }

    <div *ngIf="loginAttempted() && errorMessage()" class="mat-error global-error-message">
      {{ errorMessage() | translate }}
    </div>

    <div class="form-actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
        {{ 'LOGIN.SUBMIT_BUTTON' | translate }}
      </button>
    </div>

    <div class="form-actions secondary-action">
      <a routerLink="/register" class="register-link">{{ 'LOGIN.REGISTER_LINK' | translate }}</a>
    </div>
  </form>
</div>
